@import "../variables/variables";

.page {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: $small-spacing $medium-spacing;
  background: $base-white;
  height: calc(100vh - 150px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $medium-spacing;
    row-gap: $medium-spacing;
  }

  &__movie-hero {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: $medium-spacing;
  }

  &__hero-image-container {
    width: 100%;
    height: 340px;
    position: relative;
  }

  &__hero-img {
    object-fit: cover;
    border-radius: $big-border-radius;
  }

  &__hero-info-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__hero-info-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $small-border-radius;
    background: $light-gray;

    img {
      width: 32px;
    }

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: $medium-gray;
      margin: 5px;
    }

    p {
      font-size: 14px;
      margin: 0;
      color: $base-black;
      font-weight: 800;
    }
  }

  &__movie-title {
    font-size: $big-font-size;
    color: $medium-black;
    margin: $medium-spacing 0 $small-spacing 0;
  }

  &__movie-type {
    margin: $small-spacing 0;
    font-size: 18px;
    color: $medium-gray;
    font-weight: 400;
  }

  &__movie-description {
    margin-bottom: $big-spacing;
    color: $paragraph-black;
    line-height: 1.5;
  }

  &__display-container {
    width: 100%;
    height: 60px;
    margin-bottom: $small-spacing;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 75%;
    }
  }
}
