@import "../variables/variables";

.page {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: $small-spacing $medium-spacing;
  background: $white;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &__movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $medium-spacing;
    row-gap: $medium-spacing;
  }

  &__movie-hero {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: $medium-spacing;
  }

  &__hero-image-container {
    width: 100%;
    height: 340px;
    position: relative;
  }

  &__hero-img {
    object-fit: cover;
    border-radius: $medium-border-radius;
  }

  &__hero-info-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__hero-info-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $small-border-radius;
    background: $gray-400;

    img {
      width: 32px;
    }

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: $gray-900;
      margin: 5px;
    }

    p {
      font-size: 14px;
      margin: 0;
      color: $black-400;
      font-weight: 800;
    }
  }

  &__movie-title {
    font-size: $big-font-size;
    color: $black-600;
    margin: $medium-spacing 0 $small-spacing 0;
  }

  &__movie-type {
    margin: $small-spacing 0;
    font-size: 18px;
    color: $gray-900;
    font-weight: 400;
  }

  &__movie-description {
    margin-bottom: $big-spacing;
    color: $black-500;
    line-height: 1.5;
  }

  &__display-container {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 40px;
    margin-bottom: $small-spacing;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__seats-explanation {
    box-sizing: border-box;
    margin-top: $medium-spacing;
    padding: 0 35px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      img {
        width: 28px;
        height: 22px;
      }

      p {
        margin-left: 8px;
        font-size: $small-font-size;
        font-weight: 400;
        color: $black-400;
      }
    }
  }

  &__datetime-container {
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    padding: $small-spacing;
    background: $gray-600;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: $big-border-radius $big-border-radius 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: $small-spacing 0 ;
      font-size: 18px;
      color: $black-600;
    }
  }
}
