@import "../variables/variables.scss";

.authorized-layout {
  width: 100%;
  height: 100vh;
  background: $base-black;

  &__top-bar {
    width: 100%;
    height: auto;
  }

  &__phone-container {
    width: $max-phone-size;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    background: $base-white;
    position: relative;

    @media screen and (max-width: $max-phone-size) {
      width: 100%;
      min-width: $min-phone-size;
    }
  }
}
