@import "../variables/variables";

@import "../variables/variables.scss";

.seats {
  width: 100%;
  height: auto;
  background: $white;

  &__complete-row {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 45px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:nth-child(4) {
      margin-right: 12px;
    }

    button:nth-child(5) {
      margin-left: 12px;
    }
  }

  &__incomplete-row {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 45px;
    padding: 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    button:nth-child(3) {
      margin-right: 12px;
    }

    button:nth-child(4) {
      margin-left: 12px;
    }
  }
}
