@import "../variables/variables.scss";

.seats {
  width: 100%;
  height: auto;
  background: $base-white;

  &__complete-row {
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0;
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__incomplete-row {
    @extend .seats__complete-row;
    padding: 0 50px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
