// color variables
$base-black: #565656;
$medium-black: #454545;
$medium-gray: #959595;
$base-white: #ffffff;

// screen size varibles
$max-phone-size: 500px;
$min-phone-size: 375px;

// spacing variables
$small-spacing: 10px;
$medium-spacing: 30px;

// font size variables
$small-font-size: 15px;
$medium-font-size: 20px;
$big-font-size: 28px;
