// color variables
$black-400: #565656;
$black-500: #5f5f5f;
$black-600: #454545;
$gray-400: #fbfafa;
$gray-500: #eeeeee;
$gray-600: #f6f6f6;
$gray-900: #959595;
$white: #ffffff;
$brand-main-color: #ff515a;

// screen size varibles
$phone-size: 500px;

// spacing variables
$small-spacing: 10px;
$medium-spacing: 30px;
$big-spacing: 60px;

// font size variables
$small-font-size: 15px;
$medium-font-size: 20px;
$big-font-size: 24px;

// border radius variables
$small-border-radius: 8px;
$medium-border-radius: 20px;
$big-border-radius: 45px;
